<div class="page-wrapper" style="height: max-content;">
    
    <form [formGroup]="loginForm">

        <div class="row" style="height: max-content;">
            <div class="col-sm-8" style="background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);">
                <img src="./assets/img/Annotation 2020-07-10 174536.png" alt="" style="    width: 109%;
                margin-left: -16px;"> 
            </div>
            <div class="col-sm-4" style="padding: 30px;background: linear-gradient(90deg, rgba(251,108,13,1) 0%, rgba(242,166,95,1) 100%);">
                <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12" >
                    <!-- <label for="">User Name</label> [ngClass]="{ 'is-invalid': submitted && f.mobNo.errors }"-->
                   <input type="text"    [(ngModel)]="mobNo" formControlName="mobNo" style="height: 60px;
                   margin-bottom: 27px;" class="form-control" placeholder="User Name">
                   <!-- <div *ngIf="submitted && f.mobNo.errors" class="invalid-feedback">
                    <div *ngIf="f.mobNo.errors.required" style="    margin-top: -21px;
                    margin-left: 8px;">Contact Person Email ID is required</div>
                    <div *ngIf="f.mobNo.errors.email" style="    margin-top: -21px;
                    margin-left: 8px;">Email must be a valid email address</div>
                       <div *ngIf="f.mobNo.errors.pattern" style="    margin-top: -21px;
                       margin-left: 8px;">Email must be a valid email address</div> -->
                </div>
                </div>
                <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
                    <!-- <label for="">Password</label> -->
                   <input type="password" style="height: 60px;
                   margin-bottom: 27px;" [(ngModel)]="password" formControlName="password" class="form-control" placeholder="Password">
                </div>

                <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
                    <button (click)="userLogin()">Login</button>
                </div>
                <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
                    <p routerLink="/register">Not a user Register</p>
                </div>
            </div>
           
        </div>
    </form>

</div>

<div class="container" style="padding:  45px 45px 0px 45px;">
    <div class="row">
        <div class="col-sm-6">
            <img src="./assets/icons/logo.png" alt="" width="50%">
            
            <h4> <strong>ചുറ്റുവട്ടത്തെ കടകളിൽ നിന്നും ഓർഡർ ചെയ്യു</strong> </h4>
            <h6 style="    line-height: 32px;">സാധാരണ കച്ചവടക്കാരെ ടെക്നോളജി ഉപയോഗിച്ചുകൊണ്ട്  വ്യത്യസ്ത സാഹചര്യങ്ങൾ അതിജീവിക്കുവാനും ബിസിനസ്സിന്റെ മുൻനിരയിലേക്ക് കൊണ്ടുവരുവാനും സാധാരണ ജനങ്ങൾക്ക് ആവശ്യകരവുമായ ഒരു സംരംഭം</h6>
            

            <h6  style="    line-height: 32px;">പലചരക്ക്, മൽസ്യം, മാസം, മുട്ട, പാൽ, ബേക്കറി,പച്ചക്കറി, പഴവർഗങ്ങൾ, ഭക്ഷണം
                മറ്റ് അവശ്യ സാധനങ്ങൾ എന്നീ സ്ഥാപനങ്ങൾക്ക്  ചുറ്റുവട്ടത്തുള്ള ഉപഭോക്താക്കൾക്ക്  ഓൺലൈൻ വഴി സേവനം ലഭ്യമാക്കാം.
                 
                </h6>
      
        </div>

        <div class="col-sm-6">
            <h4 style="margin-top: 80px;margin-bottom: 20px; color: #2c937e;
            text-align: center; font-weight: bold;">Download App from playstore</h4>
            <img src="./assets/img/rfd.png" alt="" style="margin-left: auto;
            margin-right: auto;height: 51%;
            display: block;">
        </div>
    </div>
</div>