<app-header></app-header>

<div class="page-wrapper" style="margin-top: 0px;margin-bottom: 23%;">
    <div class="row">
        <div class="col-sm-12">
            <p>Advertisements</p>

        </div>
        <div class="col-sm-12">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./assets/img/slide2.jpg" alt="Second slide">

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./assets/img/slide1.jpg" alt="Second slide">

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./assets/img/slide3.jpg" alt="Second slide">

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./assets/img/2006170_fnv_Kochi_460.jpg" alt="Second slide">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="navbar">
    <a routerLink="/Home">Home</a>
    <a routerLink="/offers" class="active">Offers</a>

</div>