<app-header></app-header>
<div class="page-wrapper" style="margin-top: 0px;margin-bottom: 23%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="http://via.placeholder.com/300x180" style="      border-radius: 123px; width: 110px;height: 110px; " alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="    font-size: 21px;">Shop Name</h4>
                            <p class="card-text" style="    font-size: 15px;" >location</p>
                        </div>
                    </div>
                  
            </div>
        </div>
        <p style="    margin: 14px;">Products</p>
    </div>

    <div class="container-fluid">
        <div class="row" >
            <div class="col-6 col-md-4"> 
                <div class="card" >
                    <img src="./assets/img/1.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
                    <h6>Product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
                </div>
                
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="./assets/img/2.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
    
                   
                    <h6>product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
    
    
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="./assets/img/3.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
    
                   
                    <h6>product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
    
    
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="./assets/img/4.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
    
                   
                    <h6>product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
    
    
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="./assets/img/5.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
    
                   
                    <h6>product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
    
    
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="./assets/img/6.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
    
                   
                    <h6>product name</h6>
                    <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>
                    <p style="text-align: center;font-size: 12px;">Price </p>
    
    
                </div>
            </div>
        </div>
    </div>





</div>

<app-bottomnavigation></app-bottomnavigation>