<!-- <div class="page-wrapper">
    <div class="row">
        <div class="sol-sm-6">
            <div class="card" style="width: 100%;">
                <div class="col-sm-4">

                    <img src="./assets/img/dddddddddd.jpg" style="height: 96px; width: 114px;" alt="">


                </div>
                <div class="col-sm-4">
                    <div class="card-title">
                        <h6>Shope name</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 -->

 <div class="page-wrapper" style="margin-top: 40px;margin-bottom: 23%;">

<div class="container-fluid">
    <div class="row" >
        <div class="col-6 col-md-4"> 
            <div class="card" (click)="view()">
                <img src="./assets/img/download.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>

            </div>
            
        </div>
        <div class="col-6 col-md-4">
            <div class="card" (click)="view()">
                <img src="./assets/img/images.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">

               
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>


            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" (click)="view()">
                <img src="./assets/img/bigstock-Sydney-Australia-348079738-1.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">

               
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>


            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" (click)="view()">
                <img src="./assets/img/dd.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">

               
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>


            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" (click)="view()">
                <img src="./assets/img/dddddddddd.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">

               
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>


            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" (click)="view()">
                <img src="./assets/img/dddddddddd.jpg" style=" margin-left: auto; margin-right: auto; display: block; height: 96px; width: 114px;" alt="">

               
                <h6>Shope name</h6>
                <p style="text-align: center;font-size: 12px;">Onoffer  <img src="./assets/img/offer.png"  style="height: 20px; width: 20px;" alt=""> </p>


            </div>
        </div>
    </div>
</div>
</div>