<div class="page-wrapper" style="padding: 10px;margin-top: 10px;margin-bottom: 23%;">
    <div class="row">
        <div class="col-sm-4 col-sm-12">
            <i class="fa fa-search" style="    left: 88%;
            position: absolute;
            top: 10px;
            float: right;"></i>
            <input type="text"  [(ngModel)]="searchString"  class="form-control" placeholder="search">
            
        </div>
        <div class="col-sm-6" style="margin-left: auto;
        margin-right: auto;">
            <div (click)="card(data)" class="card" *ngFor="let data of data | filter : 'name' : searchString; let i = index ">
                <h4>{{data.name}}</h4>
                 
            </div>
       
    </div>
    </div>
</div>

<app-bottomnavigation></app-bottomnavigation>
