<div class="page-wrapper" style="height: fit-content;" style="background: linear-gradient(90deg, rgba(174,247,247,1) 0%, rgba(0,212,255,1) 100%);">
    <div class="container-fluid">


    <div class="row" style="background: linear-gradient(90deg, rgba(174,247,247,1) 0%, rgba(0,212,255,1) 100%);">
        <!-- <div class="container"> -->
        <div class="col-sm-12" >
            <img src="./assets/img/logg.png" alt="" style="margin-top: 43px; margin-left: auto; margin-right: auto; display: block;">
        </div>
        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <input type="text" style="    margin-bottom: 30px;
            margin-top: 29px;" class="form-control" placeholder="first name">
        </div>
        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <input type="text"  style="    margin-bottom: 30px;
            " class="form-control" placeholder="last name">
        </div>
        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <input type="text"  style="    margin-bottom: 30px;
            " class="form-control" placeholder="user name">
        </div>

        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <input type="text"  style="    margin-bottom: 30px;
            " class="form-control" placeholder="mobile number">
        </div>
        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <input type="text" style="    margin-bottom: 30px;
            " class="form-control" placeholder="password">
        </div>
        <div class="col-sm-2 col-sm-6 col-sm-4 col-sm-12">
            <button routerLink="/login">Register</button>
        </div>
    <!-- </div> -->
    </div>
</div>
</div>